Package               Version
--------------------- ------------
airflowctl            0.2.9
anyio                 4.1.0
arrow                 1.3.0
asttokens             2.4.1
beautifulsoup4        4.12.2
binaryornot           0.4.4
boto3                 1.33.8
botocore              1.33.8
bs4                   0.0.1
certifi               2023.11.17
chardet               5.2.0
charset-normalizer    3.3.2
click                 8.1.7
colorama              0.4.6
comm                  0.2.0
cookiecutter          2.5.0
debugpy               1.8.0
decorator             5.1.1
executing             2.0.1
h11                   0.14.0
httpcore              0.17.3
httpx                 0.24.1
idna                  3.6
ipykernel             6.27.1
ipython               8.18.1
jedi                  0.19.1
Jinja2                3.1.2
jmespath              1.0.1
joblib                1.3.2
jupyter_client        8.6.0
jupyter_core          5.5.0
markdown-it-py        3.0.0
MarkupSafe            2.1.3
matplotlib-inline     0.1.6
mdurl                 0.1.2
nest-asyncio          1.5.8
nltk                  3.8.1
numpy                 1.26.2
packaging             23.2
pandas                2.1.3
parso                 0.8.3
pip                   23.3.1
platformdirs          4.0.0
prompt-toolkit        3.0.41
psutil                5.9.6
pure-eval             0.2.2
Pygments              2.17.2
python-dateutil       2.8.2
python-dotenv         1.0.0
python-slugify        8.0.1
pytz                  2023.3.post1
pywin32               306
PyYAML                6.0.1
pyzmq                 25.1.1
regex                 2023.10.3
requests              2.31.0
rich                  13.7.0
rich-argparse         1.4.0
s3transfer            0.8.2
shellingham           1.5.4
six                   1.16.0
sniffio               1.3.0
soupsieve             2.5
stack-data            0.6.3
text-unidecode        1.3
tornado               6.4
tqdm                  4.66.1
traitlets             5.14.0
typer                 0.9.0
types-python-dateutil 2.8.19.14
typing_extensions     4.8.0
tzdata                2023.3
urllib3               2.0.7
wcwidth               0.2.12
docker                24.0.6
amazon s3 bucket