# Name                    Version                   Build  Channel
altair                    5.2.0              pyhd8ed1ab_0    conda-forge
annotated-types           0.6.0              pyhd8ed1ab_0    conda-forge
asttokens                 2.4.1              pyhd8ed1ab_0    conda-forge
attrs                     23.1.0             pyh71513ae_1    conda-forge
aws-c-auth                0.7.8                h2eab514_1    conda-forge
aws-c-cal                 0.6.9                h7f0e5be_2    conda-forge
aws-c-common              0.9.10               hcfcfb64_0    conda-forge
aws-c-compression         0.2.17               h7f0e5be_7    conda-forge
aws-c-event-stream        0.3.2                h51e6447_8    conda-forge
aws-c-http                0.7.14               h80119a0_3    conda-forge
aws-c-io                  0.13.36              ha737126_1    conda-forge
aws-c-mqtt                0.9.10               hd6138de_2    conda-forge
aws-c-s3                  0.4.3                h885c6ba_0    conda-forge
aws-c-sdkutils            0.1.12               h7f0e5be_6    conda-forge
aws-checksums             0.1.17               h7f0e5be_6    conda-forge
aws-crt-cpp               0.24.9               h5366d96_1    conda-forge
aws-sdk-cpp               1.11.210             hbe53a2f_3    conda-forge
blinker                   1.7.0              pyhd8ed1ab_0    conda-forge
boto3                     1.33.11            pyhd8ed1ab_0    conda-forge
botocore                  1.33.11            pyhd8ed1ab_0    conda-forge
bottleneck                1.3.7           py311h59ca53f_1    conda-forge
brotli                    1.1.0                hcfcfb64_1    conda-forge
brotli-bin                1.1.0                hcfcfb64_1    conda-forge
brotli-python             1.1.0           py311h12c1d0e_1    conda-forge
bzip2                     1.0.8                hcfcfb64_5    conda-forge
c-ares                    1.23.0               hcfcfb64_0    conda-forge
ca-certificates           2023.11.17           h56e8100_0    conda-forge
cachetools                5.3.2              pyhd8ed1ab_0    conda-forge
certifi                   2023.11.17         pyhd8ed1ab_0    conda-forge
charset-normalizer        3.3.2              pyhd8ed1ab_0    conda-forge
click                     8.1.7           win_pyh7428d3b_0    conda-forge
colorama                  0.4.6              pyhd8ed1ab_0    conda-forge
comm                      0.1.4              pyhd8ed1ab_0    conda-forge
confuse                   2.0.1              pyhd8ed1ab_0    conda-forge
contourpy                 1.2.0           py311h005e61a_0    conda-forge
cycler                    0.12.1             pyhd8ed1ab_0    conda-forge
debugpy                   1.8.0           py311h12c1d0e_1    conda-forge
decorator                 5.1.1              pyhd8ed1ab_0    conda-forge
exceptiongroup            1.2.0              pyhd8ed1ab_0    conda-forge
executing                 2.0.1              pyhd8ed1ab_0    conda-forge
fonttools                 4.46.0          py311ha68e1ae_0    conda-forge
freetype                  2.12.1               hdaf720e_2    conda-forge
gitdb                     4.0.11             pyhd8ed1ab_0    conda-forge
gitpython                 3.1.40             pyhd8ed1ab_0    conda-forge
htmlmin                   0.1.12                     py_1    conda-forge
idna                      3.6                pyhd8ed1ab_0    conda-forge
imagehash                 4.3.1              pyhd8ed1ab_0    conda-forge
importlib-metadata        6.10.0             pyha770c72_0    conda-forge
importlib_metadata        6.10.0               hd8ed1ab_0    conda-forge
importlib_resources       6.1.1              pyhd8ed1ab_0    conda-forge
intel-openmp              2023.2.0         h57928b3_50497    conda-forge
ipykernel                 6.26.0             pyha63f2e9_0    conda-forge
ipython                   8.18.1             pyh7428d3b_3    conda-forge
ipywidgets                8.1.1              pyhd8ed1ab_0    conda-forge
jedi                      0.19.1             pyhd8ed1ab_0    conda-forge
jinja2                    3.1.2              pyhd8ed1ab_1    conda-forge
jmespath                  1.0.1              pyhd8ed1ab_0    conda-forge
joblib                    1.3.2              pyhd8ed1ab_0    conda-forge
jsonschema                4.20.0             pyhd8ed1ab_0    conda-forge
jsonschema-specifications 2023.11.2          pyhd8ed1ab_0    conda-forge
jupyter_client            8.6.0              pyhd8ed1ab_0    conda-forge
jupyter_core              5.5.0           py311h1ea47a8_0    conda-forge
jupyterlab_widgets        3.0.9              pyhd8ed1ab_0    conda-forge
kiwisolver                1.4.5           py311h005e61a_1    conda-forge
krb5                      1.21.2               heb0366b_0    conda-forge
lcms2                     2.16                 h67d730c_0    conda-forge
lerc                      4.0.0                h63175ca_0    conda-forge
libabseil                 20230802.1      cxx17_h63175ca_0    conda-forge
libarrow                  14.0.1           h91bc311_8_cpu    conda-forge
libarrow-acero            14.0.1           h63175ca_8_cpu    conda-forge
libarrow-dataset          14.0.1           h63175ca_8_cpu    conda-forge
libarrow-flight           14.0.1           h53b1db0_8_cpu    conda-forge
libarrow-flight-sql       14.0.1           h78eab7c_8_cpu    conda-forge
libarrow-gandiva          14.0.1           hb2eaab1_8_cpu    conda-forge
libarrow-substrait        14.0.1           hd4c9904_8_cpu    conda-forge
libblas                   3.9.0              20_win64_mkl    conda-forge
libbrotlicommon           1.1.0                hcfcfb64_1    conda-forge
libbrotlidec              1.1.0                hcfcfb64_1    conda-forge
libbrotlienc              1.1.0                hcfcfb64_1    conda-forge
libcblas                  3.9.0              20_win64_mkl    conda-forge
libcrc32c                 1.1.2                h0e60522_0    conda-forge
libcurl                   8.5.0                hd5e4a3a_0    conda-forge
libdeflate                1.19                 hcfcfb64_0    conda-forge
libevent                  2.1.12               h3671451_1    conda-forge
libexpat                  2.5.0                h63175ca_1    conda-forge
libffi                    3.4.2                h8ffe710_5    conda-forge
libgoogle-cloud           2.12.0               h39f2fc6_4    conda-forge
libgrpc                   1.59.3               h5bbd4a7_0    conda-forge
libhwloc                  2.9.3           default_haede6df_1009    conda-forge
libiconv                  1.17                 h8ffe710_0    conda-forge
libjpeg-turbo             3.0.0                hcfcfb64_1    conda-forge
liblapack                 3.9.0              20_win64_mkl    conda-forge
libparquet                14.0.1           h7ec3a38_8_cpu    conda-forge
libpng                    1.6.39               h19919ed_0    conda-forge
libprotobuf               4.24.4               hb8276f3_0    conda-forge
libre2-11                 2023.06.02           h8c5ae5e_0    conda-forge
libsodium                 1.0.18               h8d14728_1    conda-forge
libsqlite                 3.44.2               hcfcfb64_0    conda-forge
libssh2                   1.11.0               h7dfc565_0    conda-forge
libthrift                 0.19.0               ha2b3283_1    conda-forge
libtiff                   4.6.0                h6e2ebb7_2    conda-forge
libutf8proc               2.8.0                h82a8f57_0    conda-forge
libwebp-base              1.3.2                hcfcfb64_0    conda-forge
libxcb                    1.15                 hcd874cb_0    conda-forge
libxml2                   2.11.6               hc3477c8_0    conda-forge
libzlib                   1.2.13               hcfcfb64_5    conda-forge
lz4-c                     1.9.4                hcfcfb64_0    conda-forge
m2w64-gcc-libgfortran     5.3.0                         6    conda-forge
m2w64-gcc-libs            5.3.0                         7    conda-forge
m2w64-gcc-libs-core       5.3.0                         7    conda-forge
m2w64-gmp                 6.1.0                         2    conda-forge
m2w64-libwinpthread-git   5.0.0.4634.697f757               2    conda-forge
markdown-it-py            3.0.0              pyhd8ed1ab_0    conda-forge
markupsafe                2.1.3           py311ha68e1ae_1    conda-forge
matplotlib-base           3.8.2           py311h6e989c2_0    conda-forge
matplotlib-inline         0.1.6              pyhd8ed1ab_0    conda-forge
mdurl                     0.1.0              pyhd8ed1ab_0    conda-forge
missingno                 0.4.2                      py_1    conda-forge
mkl                       2023.2.0         h6a75c08_50497    conda-forge
msys2-conda-epoch         20160418                      1    conda-forge
multimethod               1.4                        py_0    conda-forge
munkres                   1.1.4              pyh9f0ad1d_0    conda-forge
nest-asyncio              1.5.8              pyhd8ed1ab_0    conda-forge
networkx                  3.2.1              pyhd8ed1ab_0    conda-forge
nltk                      3.8.1              pyhd8ed1ab_0    conda-forge
numpy                     1.26.2          py311h0b4df5a_0    conda-forge
openjpeg                  2.5.0                h3d672ee_3    conda-forge
openssl                   3.2.0                hcfcfb64_1    conda-forge
orc                       1.9.2                hf0b6bd4_0    conda-forge
packaging                 23.2               pyhd8ed1ab_0    conda-forge
pandas                    2.1.3           py311hf63dbb6_0    conda-forge
pandas-profiling          3.0.0              pyhd8ed1ab_0    conda-forge
parso                     0.8.3              pyhd8ed1ab_0    conda-forge
patsy                     0.5.4              pyhd8ed1ab_0    conda-forge
phik                      0.12.3          py311h554ce73_1    conda-forge
pickleshare               0.7.5                   py_1003    conda-forge
pillow                    10.1.0          py311h4dd8a23_0    conda-forge
pip                       23.3.1             pyhd8ed1ab_0    conda-forge
pkgutil-resolve-name      1.3.10             pyhd8ed1ab_1    conda-forge
platformdirs              4.1.0              pyhd8ed1ab_0    conda-forge
plotly                    5.18.0             pyhd8ed1ab_0    conda-forge
prompt-toolkit            3.0.41             pyha770c72_0    conda-forge
protobuf                  4.24.4          py311h72e314b_0    conda-forge
psutil                    5.9.5           py311ha68e1ae_1    conda-forge
pthread-stubs             0.4               hcd874cb_1001    conda-forge
pthreads-win32            2.9.1                hfa6e2cd_3    conda-forge
pure_eval                 0.2.2              pyhd8ed1ab_0    conda-forge
pyarrow                   14.0.1          py311h6a6099b_8_cpu    conda-forge
pybind11-abi              4                    hd8ed1ab_3    conda-forge
pydantic                  2.5.2              pyhd8ed1ab_0    conda-forge
pydantic-core             2.14.5          py311hc37eb10_0    conda-forge
pydantic-settings         2.1.0                    pypi_0    pypi
pydeck                    0.8.0              pyhd8ed1ab_0    conda-forge
pygments                  2.17.2             pyhd8ed1ab_0    conda-forge
pyparsing                 3.1.1              pyhd8ed1ab_0    conda-forge
pysocks                   1.7.1              pyh0701188_6    conda-forge
python                    3.11.6          h2628c8c_0_cpython    conda-forge
python-dateutil           2.8.2              pyhd8ed1ab_0    conda-forge
python-dotenv             1.0.0                    pypi_0    pypi
python-tzdata             2023.3             pyhd8ed1ab_0    conda-forge
python_abi                3.11                    4_cp311    conda-forge
pytz                      2023.3.post1       pyhd8ed1ab_0    conda-forge
pywavelets                1.4.1           py311h59ca53f_1    conda-forge
pywin32                   306             py311h12c1d0e_2    conda-forge
pyyaml                    6.0.1           py311ha68e1ae_1    conda-forge
pyzmq                     25.1.2          py311h9250fbb_0    conda-forge
re2                       2023.06.02           hcbb65ff_0    conda-forge
referencing               0.31.1             pyhd8ed1ab_0    conda-forge
regex                     2023.10.3       py311ha68e1ae_0    conda-forge
requests                  2.31.0             pyhd8ed1ab_0    conda-forge
rich                      13.7.0             pyhd8ed1ab_0    conda-forge
rpds-py                   0.13.2          py311hc37eb10_0    conda-forge
s3transfer                0.8.2              pyhd8ed1ab_0    conda-forge
scipy                     1.11.4          py311h0b4df5a_0    conda-forge
seaborn                   0.13.0               hd8ed1ab_0    conda-forge
seaborn-base              0.13.0             pyhd8ed1ab_0    conda-forge
setuptools                68.2.2             pyhd8ed1ab_0    conda-forge
six                       1.16.0             pyh6c4a22f_0    conda-forge
smmap                     5.0.0              pyhd8ed1ab_0    conda-forge
snappy                    1.1.10               hfb803bf_0    conda-forge
stack_data                0.6.2              pyhd8ed1ab_0    conda-forge
statsmodels               0.14.0          py311h59ca53f_2    conda-forge
streamlit                 1.29.0             pyhd8ed1ab_0    conda-forge
streamlit-pandas-profiling 0.1.3              pyhd8ed1ab_0    conda-forge
tangled-up-in-unicode     0.1.0                    pypi_0    pypi
tbb                       2021.10.0            h91493d7_2    conda-forge
tenacity                  8.2.3              pyhd8ed1ab_0    conda-forge
tk                        8.6.13               h5226925_1    conda-forge
toml                      0.10.2             pyhd8ed1ab_0    conda-forge
toolz                     0.12.0             pyhd8ed1ab_0    conda-forge
tornado                   6.3.3           py311ha68e1ae_1    conda-forge
tqdm                      4.66.1             pyhd8ed1ab_0    conda-forge
traitlets                 5.14.0             pyhd8ed1ab_0    conda-forge
typing-extensions         4.8.0                hd8ed1ab_0    conda-forge
typing_extensions         4.8.0              pyha770c72_0    conda-forge
tzdata                    2023c                h71feb2d_0    conda-forge
tzlocal                   5.2             py311h1ea47a8_0    conda-forge
ucrt                      10.0.22621.0         h57928b3_0    conda-forge
urllib3                   1.26.18            pyhd8ed1ab_0    conda-forge
validators                0.22.0             pyhd8ed1ab_0    conda-forge
vc                        14.3                h64f974e_17    conda-forge
vc14_runtime              14.36.32532         hdcecf7f_17    conda-forge
visions                   0.7.1              pyhd8ed1ab_0    conda-forge
vs2015_runtime            14.36.32532         h05e6639_17    conda-forge
watchdog                  3.0.0           py311h1ea47a8_1    conda-forge
wcwidth                   0.2.12             pyhd8ed1ab_0    conda-forge
wheel                     0.42.0             pyhd8ed1ab_0    conda-forge
widgetsnbextension        4.0.9              pyhd8ed1ab_0    conda-forge
win_inet_pton             1.1.0              pyhd8ed1ab_6    conda-forge
wordcloud                 1.9.2           py311ha68e1ae_1    conda-forge
xorg-libxau               1.0.11               hcd874cb_0    conda-forge
xorg-libxdmcp             1.1.3                hcd874cb_0    conda-forge
xz                        5.2.6                h8d14728_0    conda-forge
yaml                      0.2.5                h8ffe710_2    conda-forge
zeromq                    4.3.5                h63175ca_0    conda-forge
zipp                      3.17.0             pyhd8ed1ab_0    conda-forge
zstd                      1.5.5                h12be248_0    conda-forge